<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/controls.js"></script>
    <meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<header>
    <h1>PYNQ PONQ</h1>
</header>

<div id="wrapper">

    <main>
        <div id="content">
            <button class="command" name="player_{{  player }}" value="up">↑</button>
            <br>
            <button class="command" name="player_{{  player }}" value="down">↓</button>
        </div>
    </main>

</div>

<footer>
    <p>ECEN 490 EDGE LORDS</p>
</footer>

</body>
</html>
