<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<header>
    <h1>PYNQ PONQ</h1>
</header>

<div id="wrapper">

    <main>
        <div id="content">
            <h1 class="page_name">{{ page_name }}</h1>
            <pre class="information">{{ text }}</pre>
            <a href="/player_1"> Player 1 </a>
            <br>
            <a href="/player_2"> Player 2 </a>
        </div>
    </main>

</div>

<footer>
    <p>ECEN 490 EDGE LORDS</p>
</footer>

</body>
</html>
